#demo .block {
   display: inline-block;
   width: 100px;
   height: 100px;

   line-height: 100px;
   text-align: center;

   margin: 16px;
   border-radius: 4px;

   background-color: #222;
   color: #fff;
}
